.footer {
  position: relative;
  width: 100%;
  height: 50px; /* Adjust according to your design */
  background-color: #333; /* Sample background color */
}

.links-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  color: #fff; /* Link color */
  align-items: center;
  height: 100%;
  padding-left: 10px;
}

.link {
  margin-left: 10px; /* Adjust spacing between links */
  color:#333; /* Link color */
  background-color:#fff;
  text-decoration: none;
}

